/* Base colors */

$gray-1: #111822;
$gray-2: #272f3b;
$gray-3: #434b58;
$gray-4: #5a6270;
$gray-5: #787f8b;
$gray-6: #959ca7;
$gray-7: #111822;
$gray-8: #e0e4ee;
$gray-9: #eff2f9;
$gray-10: #bac3cf;
$gray-r2: #272f3b;
$gray-r1: #111822;
$gray-r3: #454c58;
$red-1: #d21513;
$red-2: #ec4949;
$red-3: darken(red, 20%);
$red-r1: #c3272e;
$green-1: #3ab16d;
$green-2: #49d26d;
$yellow-1: #ffc44f;
$yellow-2: #f3db7d;
$yellow-r1: #ffc44f;
$blue-1: #4c68d3;
$blue-2: #5a8eff;

/* Brand colors */
$navbar-bg-gray: #1C2B36;
$navbar-light-gray: #D1D4D6;
$navbar-shade-gray: #8D949A;
$logo-red: #d21513;
$logo-yellow: #fcea20;