<div id="settings-container" style="display:none;" class="nested-bootstrap settings-box">
	<div class="settings-list">
		<ul class="list-inline" id="">
		</ul>
	</div>
	
	<div class="feature-box">
		<div class="version-num">0.9.4.8</div>
		<a class="rp-logo" href="http://www.rmail.com/" target="_blank">
        	<span class="glyphicon icon-rpost-btn"></span>
        </a>

        <div class="action-buttons">
	    	<button class="cancel-btn">
	    		<span>Cancel</span>
	    	</button>
	    	<button class="save-btn">
	    		<span>Save</span>
	    	</button>
    	</div>
	</div>
</div>