<div class="rtrack-checkbox-container">
	<img src={{iconUrl}} alt="R" height="30" width="30">
	<!--
	<div class="rtrack-label">
		<span>R</span><span>Track</span>
	</div>
	-->
	<div class="rtrack-checkbox">
		<form>
			<input type="checkbox" name="track">
		</form>
	</div>
	<div class="divider"></div>
</div>