<div class="rtrack-checkbox-container">
	<img src={{iconUrl}} alt="R" height="32" width="32">
	<div class="rtrack-label">
		<span>R</span><span>Track</span>
	</div>
	<div class="rtrack-checkbox">
		<form>
			<input type="checkbox" name="track">
		</form>
	</dev>
</div>